:root {
  --accent-color-light: #4a90ff;
  --accent-color: #2463eb;
  --accent-color-dark: #1a4bb8;
  --text-color: #333333;
  --text-color-light: #777777;
  --swal2-backdrop: rgba(0, 0, 0, 0.6) !important;
}
